{% extends "base_generic.html" %} {% load staticfiles%}
{% block content %}
<div class="container">
    <div class="row row-card">
        <div class="col-3"></div>
        <div class="col-4">
            <div class="card card border-secondary mb-3 text-center" style="width: 20rem;">
                <img class="card-img-top" src="http://polit.ru/media/photolib/2015/03/21/ps_raccoons.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">
                        Коварные еноты
                        {{news.title}}
                    </h4>
                    <p class="card-text">
                        Еноты в Оймяконе украли подгауз!
                        {{news.text}}
                    </p>
                    <a href="like/{{news.id}}" class="btn btn-success" style="min-width: 80px;">Like</a>
                    <a href="dislike/{{news.id}}" class="btn btn-danger" style="min-width: 80px;">Dislike</a>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}